.social-media-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.social-media-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 50px;
  height: 50px;
}
.icon0 {
  color: #4267b2;
}
.icon1 {
  color: #00acee;
}

.icon2 {
  color: red;
}
.social-media-right {
  margin-left: 10px;
}
@media (max-width: 576px) {
  .social-media-card {
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 1200px) {
  .social-media-card {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .social-media-card {
    width: 30%;
  }
}
